{% extends 'base.html' %}
{% load static %}
{% block head_extra %}
<style>
  body {
    background: #f5f5f5;
    margin-top: 20px;
  }

  /*  -----  Widget - Social Profile  -----  */
  .xp-social-profile-avatar img {
    border: 5px solid #fff;
    margin-top: -10px;
  }

  .xp-social-profile-avatar .xp-social-profile-live {
    position: absolute;
    bottom: 15px;
    margin: 0px -20px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background-color: #2bcd72;
  }

  .suratyndasy {
    display: flex;
    justify-content: center;
    width: 190;
    height: 160px;
    overflow: hidden;

  }

  .text-black {
    color: #555555 !important;
  }

  .mb-1,
  .my-1 {
    margin-bottom: .25rem !important;
  }

  .mt-1,
  .my-1 {
    margin-top: .25rem !important;
  }

  .h5,
  h5 {
    font-size: 1.25rem;
  }

  .card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  }

  .card-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  .bg-white {
    background-color: #ffffff !important;
  }

  .card {
    /* border: none; */
    box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.041);
  }

  .m-b-30 {
    margin-bottom: 30px;
  }

  .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
    padding: 4px 8px 10px;
  }
</style>
{% endblock %}
{% block search %}


<!-- Search -->
<section style="padding-top: 100px;">
  <div class="container">
    <div class="row justify-content-center padding">
      <div class="col-md-12 col-xs-12 ftco-animate fadeInUp ftco-animated">
        <form type="GET" action="" class="domain-form">
          <div class="form-group d-md-flex">
            
            <select class="custom-select mx-1 border border-info rounded" name="category" id="id-category">

              {% if current_category == "" %}
              <option value="" selected>Hemmesi</option>
              <option value="">Hemmesi</option>
              {% else %}
              <option value="{{ current_category.id }}" selected>{{ current_category.name }}</option>
              <option value="" >Hemmesi</option>
              {% endif %}

              {% for cat in categories %}
                <option value="{{ cat.id }}">{{ cat.name }}</option>
              {% endfor %}

            </select>

            <select class="custom-select mx-1 border border-info rounded" name="nireden" id="id-nireden">

              {% if current_nireden == "" %}
              <option value="" selected>Hemmesi</option>
              <option value="">Hemmesi</option>
              {% else %}
              <option value="{{ current_nireden.id }}" selected>{{ current_nireden.name }}</option>
              <option value="">Hemmesi</option>
              {% endif %}
              {% for city in nireden_cities %}
                <option value="{{ city.id }}">{{ city.name }}</option>
              {% endfor %}


            </select>
            <select class="custom-select mx-1 border border-info rounded" name="nira" id="id-nira">
              
              {% if current_nira == "" %}
              <option value="" selected>Hemmesi</option>
              <option value="">Hemmesi</option>
              {% else %}
              <option value="{{ current_nira.id }}" selected>{{ current_nira.name }}</option>
              <option value="">Hemmesi</option>
              {% endif %}

              {% for city in nira_cities %}
                <option value="{{ city.id }}">{{ city.name }}</option>
              {% endfor %}

            </select>
            
            <input id="search" name='search' type="text" class="form-control px-4"
              placeholder="Gözlemeli taksistiň ýada şäheriň adyny ýazyň..." >
            <input type="submit" id="id-gozle" class="search-domain btn btn-primary px-5" value="Gözle">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Taxi Cards -->
<section>
  <div class="container mt-3">
    <div class="row justify-content-center">
      {% for taxi in page_obj %}


      <div class="col-md-4 col-xs-12">
        <div class="card m-b-30 border-primary rounded">
          <div class="card-body">
            <div class="xp-social-profile">
              <div class="xp-social-profile-img">
                <div class="row justify-content-center">
                  <div class="col-5 px-1 py-1 mx-1 bg-info suratyndasy">
                    <div class="row align-items-center">
                      <img src="{{ taxi.user_photo_url }}" class="rounded img-fluid suratlar" alt="img">
                    </div>
                  </div>
                  <div class="col-5 px-1  py-1 mx-1 bg-info suratyndasy">
                    <div class="row align-items-center">
                      <img src="{{ taxi.car_photo_url }}" class="rounded img-fluid suratlar" alt="img">
                    </div>
                  </div>
                </div>
              </div>
              <div class="xp-social-profile-middle text-center">
                <div class="row">
                  <div class="col-12">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item my-1 p-0 text-center h4 text-black">{{ taxi.first_name }} 
                        {{taxi.last_name }}</li>
                      <li class="list-group-item m-0 p-0 text-center h4 text-muted">{{ taxi.nireden }} - {{ taxi.nira }}
                      </li>
                      <li class="list-group-item m-0 p-0 text-center h4 text-muted">{{ taxi.mobile }}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section >
  <p>


    <nav aria-label="Page navigation example">
      <!-- <div class="row text-center"> -->

        <ul class="pagination nav justify-content-center">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
              <span>Öňki</span>
            </a>
          </li>
          {% else %}
          <li class="page-item"><a class="page-link"  href="#">
            <span>Öňki</span>
          </a>
        </li>
        {% endif %}
        <li class="page-item" >
          <span class="page-link">{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</span>
        </li>
        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link"  href="?page={{ page_obj.next_page_number }}">
            <span>Indiki</span>
          </a>
        </li>
        
        {% else %}
        <li {% if not page_obj.has_next %} class="disabled"{% endif %} class="page-item">
          <a class="page-link" ><span>Indiki</span></a>
        </li>
        {% endif %}
      </ul>
    <!-- </div> -->
    </nav>
    
    </p>
</section>

<script>
  $(document).ready(function(){
    initialCategoryValue = $('select#id-category').children('option:selected').val()
    if (initialCategoryValue ==1 || initialCategoryValue ==2){
      $('select#id-nira option[value="' + initialCategoryValue +'"]').prop('selected', 'selected').change()
      $('select#id-nira').prop('disabled', 'disabled')
    }
  })
  $('select#id-category').on('change', function () {
    var selectedValue = $(this).children('option:selected').val()
    console.log('inside jquery, clicked selects value is:' + selectedValue)
    if (selectedValue == 1 ||  selectedValue == 2){
      $('select#id-nira option[value="' + selectedValue +'"]').prop('selected', 'selected').change()
      $('select#id-nira').prop('disabled', 'disabled')
    
    } else{
      $('select#id-nira').removeAttr('disabled')
      $('select#id-nira option[value=""]').prop('selected', 'selected').change()
    }
  });

  $('#id-gozle').mousedown(function(){
    $('select#id-nira').prop('disabled', false)
  })
</script>


{% endblock %}