  {% extends 'base.html' %}
{% block search %}
<div class="container">
  <div class="row">
    {% for taxi in taxi_drivers %}
    <div class=" col-lg-4 col-sm-12 d-flex justify-content-center form-group">
      <div class="card p-3">
        <div class="d-flex align-items-center">
          <div class="image"> <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" class="rounded" width="155"> </div>
            <div class="">
            <div class="card-header m-0 p-1 text-center">{{ taxi.username }}</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item m-0 p-0 text-center">{{ taxi.mobile }}</li>
                <li class="list-group-item m-0 p-0 text-center">{{ taxi.nireden }} - {{ taxi.nira }}</li>
                <li class="list-group-item m-0 p-0 text-center">{{ taxi.cat_id }}</li>
                <li class="list-group-item m-0 p-0 text-center">{{ taxi.status_id }}</li>
            </ul>
            <div class="button mt-2 d-flex flex-row align-items-center"> <button class="btn btn-sm btn-primary w-100 ml-2">Jaň Et</button> </div>
        </div>
    </div>
</div>
</div>
{% endfor %}

</div>
</div>

  {% endblock %}